__pycache__/
.idea/
venv/
migrations/*
!migrations/__init__.py
*.sqlite3
commissions_of_test/migrations/0001_initial.py
commissions_of_test/migrations/0002_auto_20190719_2314.py
product/migrations/0001_initial.py
wheel_radial_fatigue_test/migrations/0002_checkphoto_photo.py
wheel_radial_fatigue_test/migrations/0001_initial.py
commissions_of_test/migrations/0002_auto_20190725_1802.py
product/migrations/0002_auto_20190725_1802.py
wheel_radial_fatigue_test/migrations/0003_sample_sample_name.py
wheel_radial_fatigue_test/migrations/0004_auto_20190725_2224.py
photo/
IMG_3322.JPG
media
wheel_radial_fatigue_test/migrations/0005_auto_20190729_1834.py
product/migrations/0003_auto_20190729_1834.py
file_manage/migrations/0001_initial.py
user/migrations/0001_initial.py
file_manage/migrations/0002_auto_20190823_2136.py
product/migrations/0002_auto_20190824_1500.py
commissions_of_test/migrations/0002_auto_20190824_1500.py
user/migrations/0002_user_depatment.py
user/migrations/0003_user_cellphone.py
commissions_of_test/migrations/0003_auto_20190826_2157.py
commissions_of_test/migrations/0004_auto_20190826_2207.py
commissions_of_test/migrations/0005_auto_20190826_2212.py
commissions_of_test/migrations/0002_auto_20190828_1720.py

file_manage/migrations/0002_auto_20190828_1720.py
file_manage/migrations/0003_auto_20190828_1722.py

commissions_of_test/migrations/0003_auto_20190901_1107.py
commissions_of_test/migrations/0003_auto_20190901_1132.py
commissions_of_test/migrations/0004_assignedto.py
commissions_of_test/migrations/0005_auto_20190920_1731.py
file_manage/migrations/0002_auto_20200522_1751.py
commissions_of_test/migrations/0002_auto_20200522_1751.py
oaklims/配置文件.txt
file_manage/output.txt
