{% extends 'base2.html' %}

{% block content %}
<form method="post" action="{% url 'file_manage:search report' %}" class="form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="搜索">
</form>
<div>
    <p>
        <table class="table">
        <caption>已上传的报告</caption>
        <thead>
        <tr>
            <th>送检单编号</th>
            <th>样品名称</th>
            <th>测试项目</th>
            <th>产品项目</th>
            <th>上传日期</th>
            <th>下载链接</th>
            <th>送检人</th>
            <th>上传人</th>
            <th>详情</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.file_name }}</td>
            <td>{{ report.commission.sample_name }}</td>
            <td>{{ report.commission.test_item }}</td>
            <th>{{ report.commission.product_id }}</th>
            <td>{{ report.add_date }}</td>
            <td><a href="{% url 'file_manage:download report' year=report.get_report_year month=report.get_report_month serial_number=report.get_report_number %}">下载</a></td>
            <td>{{ report.belong_to }}</td>
            <td>{{ report.upload_by }}</td>
            <td><a href="{% url 'commission_of_test:commission detail' year=report.get_report_year month=report.get_report_month serial_number=report.get_report_number%}">送检详情</a></td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </p>
</div>
{% endblock content %}