{% extends 'base.html' %}


{% block right %}
    <li><a href="{% url 'oaklims_main:noyet' %}">填写送检单</a></li>
    <li><a href="{% url 'file_manage:search report' %}">查询报告</a> </li>
    <li><a href="{% url 'file_manage:upload report' %}">上传报告</a> </li>
{% endblock right %}
{% block content %}
<form method="post" action="{% url 'file_manage:search report' %}" class="form">
    {% csrf_token %}
    {{ form }}
    <input type="submit" value="搜索">
</form>
<div>
    <p>
        <table class="table">
        <caption>已上传的报告</caption>
        <thead>
        <tr>
            <th>送检单编号</th>
            <th>上传日期</th>
            <th>下载链接</th>
            <th>送检人</th>
            <th>上传人</th>
        </tr>
        </thead>
        <tbody>
        {% for report in reports %}
        <tr>
            <td>{{ report.file_name }}</td>
            <td>{{ report.add_date }}</td>
            <td><a href="{% url 'file_manage:download report' year=report.get_report_year month=report.get_report_month serial_number=report.get_report_number %}">下载</a></td>
            <td>{{ report.belong_to }}</td>
            <td>{{ report.upload_by }}</td>
        </tr>
        {% endfor %}
        </tbody>
        </table>
    </p>
</div>
{% endblock content %}